#main > header {
  background-color: #ffffff !important;
  background-image: url("../../images/banner.jpg");
}

#nav{
  top: 0.8em !important;
}

#header, #header.alt {
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: auto !important;
}

#nav .special,
#nav .special a,
#header nav > ul > li > a.menuToggle::after {
  color: #2e3842;
  fill: #2e3842;
}

#header nav > ul > li > a.menuToggle::after {
  filter: brightness(0) saturate(100%) invert(20%) sepia(35%) saturate(300%) hue-rotate(168deg) brightness(91%) contrast(94%);
}

.wrapper.style1 {
  background-color: #799cd1;
  color: white;
}

.icon.style1, .icon.style2, .icon.style3 {
  color: white;
}

.mainLogo{
  max-width: 200px;
  max-height: 100px;
  margin-left:auto;
  margin-right:auto;
  margin-top:15px;
  margin-bottom:15px;
  display: block;
}

.mainPhoto{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mainPhotoContainer{
  width: 300px;
  height: 300px;
  margin:auto;
  margin-bottom: 40px;
  margin-top: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/*.servizipage .spotlight{
  background-color: #046fb6 !important;
  box-shadow:
    inset 0 25px 25px 8px rgba(2, 67, 109, 0.5);
}*/

.servizipage .spotlight:nth-child(odd), .servizipage .spotlight:nth-child(odd) h2{
  background-color: #b9c7e8 !important;
  color: #046fb6;
}

.servizipage .spotlight:nth-child(even), .servizipage .spotlight:nth-child(even) h2{
  background-color: #799cd1 !important;
  color: white;
}


.servizipage .spotlight .image {
  width: 40%;
  height: 30em;
}

.servizipage .spotlight .content {
  width: 70%;
  max-width: unset !important;
}

.servizipage .spotlight .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input[type="submit"].primary,
input[type="reset"].primary,
input[type="button"].primary,
button.primary,
.button.primary {
  background-color: #3f6fb8;
  box-shadow: none !important;
  color: #ffffff !important;
}

input[type="submit"].primary:hover,
input[type="reset"].primary:hover,
input[type="button"].primary:hover,
button.primary:hover,
.button.primary:hover {
  background-color: #046fb6 !important;
}

input[type="submit"].primary:active,
input[type="reset"].primary:active,
input[type="button"].primary:active,
button.primary:active,
.button.primary:active {
  background-color: #335993 !important;
}

body.landing #footer {
  background-color: #046fb6 !important;
  color: #799cd1 !important;
  padding: 2em !important;
}

.copyright{
  padding: 0 !important;
  margin: 0 !important;
}

#menu{
  background-color: #799cd1 !important;
}

.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#image-carousel{
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
}

.spotlight, h2{
  scroll-margin-top: 8rem !important;
}

#menu .submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  padding-left: 15px;
}

#menu .has-submenu.active .submenu {
  max-height: 50em;
  transition: max-height 0.3s ease-in;
}

#menu .submenu{
  margin:0 !important;
}

#menu .submenu > li:first-child {
  margin-top: 0.5em !important;
}

#menu .submenu > li:last-child {
  margin-bottom: 0.5em !important;
}

#menu .accordion-trigger:after {
  content: '+';
  float: right;
  transition: transform 0.3s;
}

#menu .has-submenu.active .accordion-trigger:after {
  content: '-';
}

.casiclinici h2, .casiclinici h3, .casiclinici p, .casiclinici .icon:before{
  color:#046fb6 !important
}

.features li:nth-child(1) {
  background-color: rgba(4, 111, 182, 0.035);
}

.features li:nth-child(2) {
  background-color: rgba(4, 111, 182, 0.07);
}

.features li:nth-child(3) {
  background-color: rgba(4, 111, 182, 0.105)
}

body{

}

#banner::after {
  background: #046fb6 !important;
}

.staffimage{
  margin-left:auto;
  margin-right:auto;
  width: 50%;
  margin-top: 2em;
  text-align: center;
}

.quote{
  font-weight: normal;
  font-style: italic;
  text-transform: unset !important;
  font-size: 1.5em;
  line-height: 1.5em;
  letter-spacing: 0 !important;
}

.quote .cit{
  font-weight: normal;
  text-transform: unset !important;
  font-size: 0.8em;
  text-decoration: underline;
}

#header{

}

.index.landing #header {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.index.is-preload #header {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.is-preload{
}
