@media screen and (max-width: 800px) {
  /*.scrolly {*/
  /*  display: block !important;*/
  /*}*/
  .logo-container {
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .menuToggle {
    margin-top: 0.8em;
  }

  .logo-container > a {
    height: 100%;
  }

  .logo-container > a > .mainLogo {
    height: 100%;
    width: auto;
    max-height: 100%;
    max-width: none;
    padding: 0;
    margin: 0;
  }

  .mainPhotoContainer {
    width: auto;
    height: 30vh;
    aspect-ratio: 1;
    margin: auto;
    margin-bottom: 4em;
    margin-top: 2em;
  }

  #banner {
    height: 100vh;
  }

  .forceMobile {
    display: unset !important;
  }

  .hideMobile {
    display: none !important;
  }

  .servizipage .spotlight .image {
    width: 100%;
  }

  .titoloServizi {
    margin-top: 1.5rem;
  }

  .staffimage {
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .staffimage img {
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
  }

  #image-carousel {
    width: 100%;
  }

  .googlemap {
    height: 40vh !important;
  }

  .servizipage .spotlight {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-basis: 100%;
  }

  .servizipage .spotlight .image {
    -ms-flex-order: 2;
    width: 100%;
    flex-basis: 100%;
  }

  .servizipage .spotlight .image img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
  }

  .servizipage .spotlight .content {
    -ms-flex-order: 1;
    width: 100%;
    flex-basis: 100%;
  }

  .spotlight .content {
    width: 100%;
    text-align: center;
  }

  .spotlight .content ul{
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
  }


  .spotlight, h2{
    scroll-margin-top: 7rem !important;
  }


}


@media screen and (max-height: 800px) {
  /*.scrolly {*/
  /*  display: none !important;*/
  /*}*/

  .mainPhotoContainer {
    width: auto;
    height: 30vh;
    aspect-ratio: 1;
    margin: auto;
    margin-bottom: 2.5em;
    margin-top: 3em;
  }

  #banner .more{
    height: 6em;
  }

  #banner .more::after{
    bottom: 2em;
  }

}
