---
import Layout from '../layouts/Layout.astro';
---

<Layout 
  title="Pagina non trovata - Centro Dentale Menchise" 
  bodyClass="landing"
>
  <section class="wrapper style1 special" style="min-height: 50vh; display: flex; flex-direction: column; justify-content: center;">
    <div class="inner">
      <header class="major">
        <h2>Pagina non trovata (404)</h2>
        <p>Spiacenti, la pagina che stavi cercando non esiste.</p>
        <a href="/" class="button primary">Torna alla Home</a>
      </header>
    </div>
  </section>
</Layout>
