---
import Layout from '../layouts/Layout.astro';
---

<Layout 
  title="Malattia parodontale - Centro Dentale Menchise" 
  description="Diagnosi e cura della malattia parodontale (gengivite e parodontite) al Centro Dentale Menchise a Bari."
  bodyClass="landing servizipage servizi2page"
>
  <section class="newpar">
    <img src="/images/parodontale/0.png" alt="" />
    <h2>La malattia<br/>parodontale</h2>
    <p>
      La malattia parodontale è un’infezione batterica multifattoriale e sitospecifica che colpisce i tessuti di sostegno del dente.
      <ul>
        <li><b>Batterica: </b>la causa principale e necessaria è la presenza di placca batterica.</li>
        <li><b>Multifattoriale: </b>fattori come fumo, malattie sistemiche e malocclusioni dentarie possono favorirne l’insorgenza o aggravare i danni causati dai batteri.</li>
        <li><b>Sitospecifica: </b>può colpire in modo diverso ogni dente o anche singole zone dello stesso, rendendo necessaria una diagnosi individuale dente per dente.</li>
      </ul>
    </p>
    <img src="/images/parodontale/1.png" alt="" />

    <p>
      La malattia può manifestarsi come:
    <ul>
      <li><b>Gengivite: </b>infiammazione reversibile con completa guarigione dei tessuti (“restitutio ad integrum”);</li>
      <li><b>Parodontite: </b>distruzione irreversibile dei tessuti di sostegno, anche dopo guarigione.</li>
    </ul>
    </p>

    <p>
      I principali tipi di parodontite sono:
    <ol>
      <li>Cronica</li>
      <li>Aggresiva</li>
      <li>Associata a malattie sistemiche</li>
      <li>Necrotizzante</li>
    </ol>
    </p>

    <img src="/images/parodontale/2.png" alt="" />
  </section>
</Layout>
